/* 
  bg - background
  fg - foreground
  br - border
*/

/* Main Colors */
@define-color red #CD1C18;
@define-color dark #252525;

@define-color shadow shade(#111111, 0.5);
@define-color main-fg @text;
@define-color main-br @layer2;
@define-color distro-fg @red;

/* background */
@define-color layer0-bg shade(@dark, .5);
@define-color layer0-fg @text;
@define-color layer1-bg shade(@dark, .8);
@define-color layer1-fg @text;
@define-color layer2-bg @dark;
@define-color layer2-fg @text;
@define-color layer3-bg lighter(@dark);
@define-color layer3-fg @text;
@define-color layer4-bg #1e4830;
@define-color layer4-fg @text;

@define-color active-bg alpha(white, .2);
@define-color active-fg @text;

@define-color hover-bg alpha(white, .1);
@define-color hover-fg @text;
