@define-color primary #2e6f40;
@define-color bg #0a0d0b;
@define-color selected-bg #429E5C;
@define-color selected-fg @bg;
@define-color text white;
@define-color keybinds @bg;

* {
  --border: 3px solid @selected-bg;
  --outer-radius: 0;
  --inner-radius: 0;
}
